body {
    margin: 0;
    min-height: 100vh;
    background: #45d9d0;
}
//Our game screen has the same proportions as the reference image: 946 × 2048//
.game {
    height: 100vh;
    aspect-ratio: 946 / 2048;
    margin: 0 auto;
    background: #45d9d0;
    position: relative; //make .game the reference point for that absolute layer of the background//
}
//make background actually fill the game screen//
.background {
    position: absolute;
    inset: 0;
    background: #45d9d0;
}
